<!DOCTYPE html>
<html xlmns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79f8bb4c35.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css" />    <title th:text="${title}">Document</title>
</head>
<body class="is-preload">
    <div id="page-wrapper">
        <!-- Header -->
        <section id="header">

            <div th:replace="layouts/common :: header"></div>

        </section>

        <!-- mt-5 (margin-top)  -->
        <!-- Bootstrap tutorial used - https://www.youtube.com/watch?v=aeNDvQi6O94 -->
        <div class="container mt-5">
            <h1>Product Form</h1>
            <!-- Form for registering. Uses thymeleaf to validate the fields. th:action looks for the post mapping of /register. registrationModel was defined as an attribute in the RegisterController class, and set to a new RegistrationModel -->
            <form class="row g-3" th:action="@{createProduct}" th:object="${productModel}" method="PUT">
                <!-- Product name field -->
                <div class="field-container col-md-6">
                    <h5 style="color: red" th:if="${#fields.hasErrors('productName')}" th:erros="*{productName}">Enter a name between 3 - 32 characters</h5>
                    <div class="input-container">
                        <label for="productName" class="form-label" style="color: white;">Product Name</label>
                        <input for="productName" type="text" class="form-control" placeholder="T.V" name="productName" th:field="*{productName}"> 
                    </div>
                </div> 
                <!-- Product category field -->
                <div class="field-container col-md-6">
                    <h5 style="color: red" th:if="${#fields.hasErrors('category')}" th:erros="*{category}">Choose a category</h5>
                    <div class="input-container">
                        <label for="productName" class="form-label" style="color: white;">First Name</label>
                        <select name="category" id="category">
                            <option value= "">Select An Option</option>
                            <option value="T.V">T.V</option>
                            <option value="Phones">Phones</option>
                            <option value="Desktop & Laptops">Desktop & Laptops</option>
                            <option value="Computer Accessories">Computer Accessories</option>
                        </select>                    
                    </div>
                </div> 
                <!-- Product description field -->
                <div class="field-container col-md-8">
                    <div class="input-container">
                        <label for="description" class="form-label" style="color: white;">Product Description</label>
                        <input for="description" type="text" class="form-control" placeholder="A description of the product" name="productName" th:field="*{description}"> 
                    </div>
                </div> 
                <!-- Product price field -->
                <div class="field-container col-md-4">
                    <h5 style="color: red" th:if="${#fields.hasErrors('price')}" th:erros="*{price}">Enter a valid number</h5>
                    <div class="input-container">
                        <label for="price" class="form-label" style="color: white;">Product Name</label>
                        <input for="price" type="text" class="form-control" placeholder="T.V" name="productName" th:field="*{price}"> 
                    </div>
                </div> 
                    <div class="field-container col-md-8">
                        <button type="submit" class = "btn btn-primary" style="color: white;" value="Create">Submit</button>
                    </div>
        </form>
    </div>
    <!-- Footer, uses thymeleaf -->

    <div th:replace="layouts/common :: footer"></div>

    <!--Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script> 
</body>
</html>